{% extends "layout.html" %}

{% block content %}
<script>
    // angular.element(document).ready(globalvariable.fetchRoutine());
    jQuery(document).ready(function(){
        globalvariable.fetchRoutine();
    });
</script>


    
    <div class="form-group">
        <label for="sel1">Select list:</label>
        <select class="form-control" ng-change="adminBusSearch()" ng-model="admin.source">
            <option value="frombit">From BIT</option>
            <option value="fromdoranda">From Doranda</option>
            <option value="fromlalpur">From Lalpur</option>
            <option value="fromxavier">From Xavier </option>

        </select>
        <h1 ng-bind="source"></h1>
    </div>
    <div class="form-group">
        <label for="sel2">Select list:</label>
        <select class="form-control" ng-change="adminBusSearch()" ng-model="admin.typeofbus">
            <option value="All">All</option>
            <option value="Staff">Staff</option>
            <option value="Student">Student</option>
        </select>
    </div>




    <div id="accordion" >

        <div class="card" ng-repeat="x in adminResults">
            <div class="card-header">
                Departure
            <a class="card-link" data-toggle="collapse" ng-bind="x.departure" href="#collapseOne">
                
            </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <span>Type</span>
                            </div>
                            <div class="col-6">
                                <span ng-bind="x.typeofbus"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <span>TypeofDay</span>
                            </div>
                            <div class="col-6">
                                <span ng-bind="x.typeofday"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <span>Departed</span>
                            </div>
                            <div class="col-6">
                                <span ng-bind="x.hasDeparted"></span>
                                <label class="switch">
                                    <input type="checkbox" ng-disabled="disable_hasDeparted" ng-model="x.hasDeparted" ng-change="setStatus(x)">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <span>Cancelled</span>
                            </div>
                            <div class="col-6">
                                <span ng-bind="x.isCancelled"></span>
                                <label class="switch">
                                    <input type="checkbox" ng-disabled="disable_isCancelled" ng-model="x.isCancelled" ng-change="setStatus(x)">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        
        
          
    </div>









    {% endblock %}