<div class="container">
    <h1 style="text-align:center">BIT BUSES</h1>
    <div class="tablet-responsive-vertical">
        <table class="tablet tablet-bordered tablet-striped tablet-hover tablet-mc-red">
            
            <thead>
                <tr>
                    <th>Departure</th>
                    <th>Bus Type</th>
                    <th>Cancelled</th>
                    <th>Departed</th>
                </tr>
            </thead>
            <tbody>
                {% for x in newlist %}
                <tr>
                    <td data-title="Departure">{{x['departure']}}</td>
                    <td data-title="Bus Type"> {{ x['typeofbus'] }}</td>
                    <td data-title="Cancelled">{{x['isCancelled']}}</td>
                    <td data-title="Departed">{{ x['hasdeparted'] }}</td>
                </tr>

                <!-- <tr>

                    <td data-title="Departure">05:10 PM</td>
                    <td data-title="Bus Type">Student</td>
                    <td data-title="Is Running">No</td>
                    <td data-title="Has Departed">No</td>
                </tr>

                <tr>
                    <td data-title="Departure">06:00 PM</td>
                    <td data-title="Bus Type">Student</td>
                    <td data-title="Is Running">No</td>
                    <td data-title="Has Departed">No</td>
                </tr>

                <tr>
                    <td data-title="Departure">06:30 PM</td>
                    <td data-title="Bus Type">Student</td>
                    <td data-title="Is Running">No</td>
                    <td data-title="Has Departed">No</td>
                </tr>

                <tr>
                    <td data-title="Departure">07:00 PM</td>
                    <td data-title="Bus Type">Staff</td>
                    <td data-title="Is Running">No</td>
                    <td data-title="Has Departed">No</td>
                </tr>

                <tr>
                    <td data-title="Departure">07:00 PM</td>
                    <td data-title="Bus Type">Student</td>
                    <td data-title="Is Running">No</td>
                    <td data-title="Has Departed">No</td>
                </tr>

                <tr>
                    <td data-title="Departure">07:30 PM</td>
                    <td data-title="Bus Type">Staff</td>
                    <td data-title="Is Running">No</td>
                    <td data-title="Has Departed">No</td>
                </tr> -->
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>