{% extends "layout.html" %}

{% block content %}
<div class="boxx">
    <h2 data-text="BIT BUSES">BIT BUSES</h2>
    <p>We'll drive you happy. Fresh transit answers for BITIANS</p>
</div>
<div class="box">
    <form id="searchbusform" method="POST" action="/result">
        
        <div class="form-group">
            <label for="source">Source</label>
            <select class="form-control" name="source" id="id-source">
            <option>Ranchi</option>
            <option>BIT</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="destination">Destination</label>
            <select class="form-control" name="destination" id="id-destination">
            <option>BIT</option>
            <option>Ranchi</option>
            </select>
        </div>
        
        <div class="form-group">
            <label>Date</label>
            <input type="date" ng-model="currDate"  class="form-control" id="dt" name="curdate">
        </div>
        <div class="form-group">
            <label>Time</label>
            <!-- <input type="time"  class="form-control" name="curtime" id="curtime"> -->
            <input type="time" id="exampleInput" name="curtime" ng-model="currTime" format="HH:mm"  required />
        
        </div>
        <input type="submit" id="gen-submit"  value="Search Buses">
        <!-- <input type="submit" id="gen-submit" ng-click="searchBuses()" value="Search Buses"> -->

    </form>
</div>



{% endblock %}
